<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Здесь эксперт оценивает профессии, которые накидали обычные пользователи-->
<head>
    <meta charset="UTF-8">
    <title>Оценка профессии</title>
    <script th:inline="javascript">
        function validateForm() {
            let checkboxes = document.querySelectorAll('input[type=checkbox][name=selectedIds]:checked');
            if (checkboxes.length > 5) {
                alert("Вы можете выбрать не более 5 чекбоксов!");
                return false;
            } else if (checkboxes.length < 1) {
                alert("Вы должны выбрать хотя бы один пункт");
                return false;
            }
        }

    </script>
</head>
<body>
<div th:replace="~{blocks/header_2 :: header}"></div>
<div class="main">
    <h2 th:text="${occupation.getName()}"></h2>
    <h3 th:text="${occupation.getDescription()}"></h3>

    <div class="check" th:if="${message != null}">
        <h3 th:text="${message}"></h3>
    </div>
    <input type="hidden" id="count" th:data-value="${allAnswersCount}"/>

    <div th:each="adj : ${adjectiveIds}">
        <h3 th:text="${adj.getName() + ' ' + adj.getCount()*100/allAnswersCount + '%'}"></h3>
    </div>


    <form th:action="'/expert/grading_occupation/'+${occupation.getId()}" method="post"
          onsubmit="return validateForm()" name="form" th:object="${result}">
        <div class="checkbox-list">
            <div class="col-md-6">
                <div th:each="adjective, iterStat : ${adjectiveList}"
                     th:if="${iterStat.index < #lists.size(adjectiveList) / 2}">
                    <label>
                        <input type="checkbox" th:name="'selectedIds'" th:value="${adjective.getId()}"
                               th:text="${adjective.getName()}">
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div th:each="adjective, iterStat : ${adjectiveList}"
                     th:if="${iterStat.index >= #lists.size(adjectiveList) / 2}">
                    <label>
                        <input type="checkbox" th:name="'selectedIds'" th:value="${adjective.getId()}"
                               th:text="${adjective.getName()}">
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="bt bt-success">Оценить профессию</button>
    </form>
</div>
</body>
</html>