
div#autorization{
    text-align: right;
    letter-spacing: 40px;
    margin-right: 40px;
}
div#autorization>form>button{
    /*background: rgb(131,58,180);*/
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    /*opacity: 0.8;*/
    font-family: "Agency FB Cyrillic";
    font-size: larger;
    width: 100px;
    height: 40px;
}

form#reg{
    margin-top: 10px;
}
body {
    line-height: 1.5;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 30px;
}

.main {
    width: 400px;
    padding: 20px;
    border-radius: 15px;
}

h1 {
    font-family: Courier, monospace;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}