<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Главная страница сайта-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подключение CSS к HTML</title>
    <style>
        .slider {
            display: flex;
            overflow: hidden;
            width: 100%;
        }

        .slider_1 {
            width: 20rem;
            height: 8rem;
            margin: 20px;
            background: rgba(68, 72, 29, 0.56);
            border-radius: 15px;
            transition: opacity 1s linear;
        }
        .slider_1 img {
            width: 5rem;
            height: 5rem;
            border-radius: 50px;
        }
    </style>
</head>
<body>
<div th:if="${test}">
    <div th:replace="~{blocks/header_2 :: header}"></div>
</div>
<div th:if="${not test}">
    <div th:replace="~{blocks/header_3 :: header}"></div>
</div>
<div class="container">
    <div class="slider">
        <div class="slider_1">
            <img url="img/cat1.jpg"><span>Милый котик</span>
        </div>
        <div class="slider_1">
            <img url="../img/cat2.jpg"><span>Симпатичный песик</span>
        </div>
        <div class="slider_1">
            <img url="../img/cat3.jpg"><span>Милый котик</span>
        </div>
        <div class="slider_1">
            <img url="../img/cat4.jpg"><span>Симпатичный песик</span>
        </div>
    </div>
    <div class="main">
    </div>
    <script>
        const sliderItems = document.querySelectorAll('.slider_1');
        const itemWidth = sliderItems[0].offsetWidth;
        const itemMargin = 20;
        const totalWidth = itemWidth + itemMargin;
        const sliderContainer = document.querySelector('.slider');
        const sliderContainerWidth = sliderContainer.offsetWidth;

        let currentIndex = 0;

        function showNextItem() {
            sliderItems[currentIndex].style.opacity = 0;
            currentIndex = (currentIndex + 1) % sliderItems.length;
            sliderItems[currentIndex].style.opacity = 1;
        }

        function showItemsOneByOne() {
            let count = 0;
            const interval = setInterval(() => {
                sliderItems[count].style.opacity = 1;
                count++;
                if (count === sliderItems.length) {
                    clearInterval(interval);
                    setInterval(showNextItem, 4000);
                }
            }, 2000);
        }

        showItemsOneByOne();
    </script>
</body>
</html>
