<head>
  <div  th:fragment="header">
    <div id="header">
  <!--    <link rel="stylesheet" type="text/css" href="header_style.css">-->
  <link rel="stylesheet" type="text/css" href="../../css/header_style.css">

<!--  <nav th:fragment="header" id="header">-->
    <div class="button">
      <a href="/">Главная страница</a>
      <a href="/tests">Тесты</a>
      <a href="/occupation">Профессии</a>
      <a href="/login">Log in</a>
      <a href="/registration">Registration</a>
      <a href="/profile">Profile</a>
    </div>
    </div>
  </div>
</head>